html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a.card-link{
  color: inherit;
  text-decoration: none;
}

a.card-link:hover{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p.card-text{
  min-height: 200px;
  max-height: 200px;
  overflow:hidden;
}

#layoutVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
